/*PANTALLA 3 - SELECCIÓN DE ASIENTOS*/

.encabezado h2 {
    font-size: 16px;
    margin: auto;
}

.pantalla-cine {
    margin: 25px 0;
    padding-top: 10px;
    border-top: 6px solid #574c13;
    color: #ffc400;
    text-align: center;
    letter-spacing: 6px;
    font-size: 11px;
}

.asientos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.asiento {
    height: 28px;
    border-radius: 7px;
    border: 1px solid #2655aa;
    font-size: 9px;
}

.asiento.libre,
.cuadro.libre {
    background: #10275c;
    color: white;
}

.asiento.ocupado,
.cuadro.ocupado {
    background: #333;
    color: #777;
    border: none;
}

.asiento.seleccionado,
.cuadro.seleccionado {
    background: #ffc400;
    color: #000;
    border: none;
}

.leyenda-asientos {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    font-size: 11px;
    color: #aaa;
}

.leyenda-asientos article {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cuadro {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    display: block;
}

.resumen-asientos {
    background: #1f1f1f;
    border-radius: 22px;
    padding: 20px;
    display: flex;
    gap: 18px;
    align-items: flex-start;
}

.resumen-asientos img {
    width: 80px;
    height: 110px;
    border-radius: 12px;
    object-fit: cover;
}

.info-resumen {
    flex: 1;
}

.info-resumen h3 {
    margin: 0;
    font-size: 18px;
}

.fecha {
    margin: 8px 0 20px;
    color: #8f8f8f;
    font-size: 13px;
}

.detalle-resumen {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titulo {
    display: block;
    color: #777;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.asientos-elegidos {
    display: flex;
    gap: 8px;
}

.asientos-elegidos span {
    background: #ffc400;
    color: #000;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.precio {
    text-align: right;
}

.precio h2 {
    margin: 0;
    color: white;
    font-size: 22px;
}
